rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedUser() {
      return request.auth != null &&
        request.auth.token.email in [
          'nurnasuhaa@gmail.com',
          'murabbi.books@gmail.com',
          'shaf.r210003@gmail.com'
        ];
    }

    match /events/{eventId} {
      allow read, write: if isAllowedUser();

      match /{subcollection}/{docId} {
        allow read, write: if isAllowedUser();
      }
      match /{subcollection}/{docId}/{subSubcollection}/{subDocId} {
        allow read, write: if isAllowedUser();
      }
    }
  }
}
